
.navBar {
    display: flex;
    flex-direction: column;
    margin: 48pt 0pt 18pt 0pt;
    align-items: left;
}

.pageTitle {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 32pt;
    font-weight: 600;
    line-height: 64pt;
}

.pageList {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 14pt;
    font-weight: 200;
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 3ch;
}