:root {
  --main-background-dark: #1F1B1E;
  --main-card-dark: #2B2529;
  --main-text-dark: #FFC089;

  --paragraph-font-size: 11pt;
  --bodywidth: 50vw;
  --num-columns: 3;
  --column-width: calc(var(--bodywidth) / var(--num-columns));
}

.card {
  background-color: var(--main-card-dark);
  padding: calc(var(--paragraph-font-size) * 3);
  width: minmax(0.9 * var(--column-width), 50ch)
}

body {
  display: flex;
  flex-direction: row;
  background-color: var(--main-background-dark);
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: light;
  font-size: var(--paragraph-font-size);
  width: var(--bodywidth);
  margin-left: auto;
  margin-right: auto;
  color: var(--main-text-dark)
}


