:root {
  --main-background-dark: #1F1B1E;
  --main-card-dark: #2B2529;
  --main-text-dark: #FFC089;

  --paragraph-font-size: 11pt;
  --bodywidth: 50vw;
  --num-columns: 3;
  --column-width: calc(var(--bodywidth) / var(--num-columns));
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--main-background-dark);
  font-weight: light;
  font-size: var(--paragraph-font-size);
  width: var(--bodywidth);
  margin-left: auto;
  margin-right: auto;
  color: var(--main-text-dark)
}


